<header *ngIf="checkLink()">
  <h1 style="display: inline">Кладовщик</h1>
  <button mat-raised-button color="warn" (click)="logOut()">
    Выйти из аккаунта
  </button>
</header>
<div *ngIf="checkLink()">
  <mat-radio-group
    aria-label="Select an option"
    (change)="navigate()"
    [formControl]="tableType"
  >
    <mat-radio-button color="primary" value="products">Товары</mat-radio-button>
    <mat-radio-button color="primary" value="employees"
      >Сотрудники</mat-radio-button
    >
    <mat-radio-button color="primary" value="clients">Клиенты</mat-radio-button>
    <mat-radio-button color="primary" value="suppliers"
      >Поставщики</mat-radio-button
    >
    <mat-radio-button color="primary" value="posts">Должности</mat-radio-button>
    <mat-radio-button color="primary" value="storage-location"
      >Место хранения</mat-radio-button
    >
  </mat-radio-group>
</div>
<router-outlet></router-outlet>
